@font-face {
    font-family:Dosis;
    src: url(fonts/Dosis/Dosis-VariableFont_wght.ttf);
}


     /* Container 1 NAVBAR */

#nav{
    padding: 0.8% 7%;
}
#logo{
    width: 100px;
    height: 30px;
    margin-left: 0px;
}
.navbar-dark .navbar-nav .nav-link {
    /* color: rgba(255,255,255,.5); */
    color: white !important;
}

 .bar{ 
    color: white;
    font-family:Dosis;
    margin-left: 10px;
    font-size: 14px; 
}
 .bar:hover{
    background-color: rgb(150, 152, 152);
    border-radius: 50px;
} 


 .phone{ 
    font-family:Dosis;
    color: white;
    font-size: 10px;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

#login{
    font-family:Dosis;
    background-color: rgb(154, 149, 149);
    border-radius: 40px;
    font-size: 12px;
    color: white;
    margin-left: 0px;
    width: 70px;
    height: 30px;
   

    
}
#sign{
    font-family:Dosis;
    background-color: white;
    font-size: 12px;
    border-radius: 50px;
    margin-left: 10px;
    color: black;
    width: 70px;
    height: 30px;
    margin-right: 10px;
}


/*contianer page content */

.black-box {
    background-color: #000;
    color: #fff;
    padding: 20px;
    font-family: Dosis;
}

.imgClass
{
    z-index: 0;
    height: 70vh;
    background-image: url(../images/limo1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
#txt1ID
{
    font-size:xx-large
}
.class1font{
    font-family: Dosis;
}
.custom-list {
    list-style: none;
    
}
#listID1
{
    padding-bottom: 10px;
}


.custom-list li:before {
    content: "\f058"; /* Font Awesome bullet icon code */
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    margin-right: 5px;
    color: #d02121; /* Customize the bullet color */
    
    
}

.adjustCenID
{
    display: flex;
    justify-content: center;
}
#number_con
{
    background-color:rgb(231, 67, 67);
    color:white;
    margin-top: 60px;
    border-radius: 5px;
    padding: 50px; 
}


/*make trip contianer */

#cont7{
    max-width: 100%;
    margin-bottom: 50px;
    padding-top: 100px;
 }
 .center {
    text-align: center;
    width: 100%;
    display: flex;
}
 .BK{

    text-align: center;
    font-size: 35px;
    margin-bottom: 50px;
 }
 .BK1{
   
    font-size: 35px;
    margin-bottom: 40px;

 }
 .BK4{

    text-align: center;
    color: black;
    font-size: 16px;
    font-weight: 600; 
 }
 .BK7{

    color: black;
    font-size: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 500;
 }

/* container 10 black */

#cont10{
    background-color: black;
    margin-top: 150px;
    padding-top: 100px;
    padding-bottom: 50px;
 }

 .EK4{
    
   width: 200px; 
    height: 280px;
    margin-top: 110px;
    border-radius: 40px;
 }

 .custom-list2 li:before {
    content: "\f110"; /* Font Awesome bullet icon code */
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    margin-right: 5px;
    color: #d02121; /* Customize the bullet color */
    
    
}
.custom-list2 {
    list-style: none;
    padding-bottom: 1px;
}
.liID21
{
padding-bottom: 20px;
padding-top: 20px;
color: grey;
}
.liID22
{
padding-bottom: 20px;
padding-top: 20px;
color: white;
}
.txtpara1
{
    padding-bottom: 10px;
    padding-top: 10px;
    color:grey;
    font-size: 10px;
    
}
.txtpara
{
    padding-bottom: 10px;
    padding-top: 10px;
    color: white;
    font-size: 10px;
}
#cont11{
    background-color: pink;
    margin-bottom: 40px;
    height: auto;
    padding-top: 100px;
    padding-bottom: 50px;
 }
 
 .EK41{
     width: 300px; 
     height: 280px;
     margin-top: -10px;
     border-radius: 5px;
     
  }

.EK{
   
    font-size: 50px;
 }
 .EK1{
    color:black;
    font-size: 20px;
    font-weight: 600;
    margin-top: -55px;
    margin-left: 55px;
 }
 .EK2{
   
    color:black;
    font-size: 10px;
    margin-top: -45px;
    margin-left: 55px;
    font-weight: 500;
    margin-top: -10px;
 }
 .EK3{
    
    color: black;
    font-size: 16px;
    font-weight: 600;
    margin-top: 50px;
    padding-bottom: 10px; 
 }
 /* partners container*/
 .partner_con
{
    color:black;
    padding-top: 30px;
    padding-bottom: 40px;
    margin-bottom: 10px;
}


#Question-container {
    margin-top: 50px;
    border: 1px solid silver; 
    border-radius: 5px;
    padding: 50px;
    align-items: center;
    padding-bottom: 10px;
    
}
#headingID
{
    margin-bottom: 30px;
    font-size: xx-large;
}

.HK{
    font-size: 35px;
    margin-top: 50px;
    margin-bottom: 40px;
    font-weight: 600;
}
.HK1{
    
    font-size: 15px;
    font-weight: 600; 
}

.HK2{
    
    font-size: 13px;
    font-weight: 500;
}
.HK3{
    width: 560px;
    
}
.HK4{
    
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 10px; 
}

/*download app con*/

#cont14{
   
    background-color: rgb(231, 67, 67);
    margin-top: 30px;
    padding-bottom: 50px;
}
.IK11{
    
    margin-top: 50px;
    font-size: 35px;
    font-weight: 600;
    color: white;
    
}
.IK111{
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 50px;
    color: white;
}
#btn14
{
    height: 50px;
    width: 150px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.btn14ID{
    text-align: center;
}
#apple1{
    font-size: 20px;
    margin-right: 100px;   
    margin-top: 5px; 
}
#lin11{
font-size: 20px;
margin-top: -27px;
margin-right: 60px;  
color: rgb(122, 128, 128);
}
.IK21{
   
    margin-top: -40px;
    font-size: 9px;
    color: black;
    margin-left: 33px;
    }

.IK31 {
    color: black;
    font-weight: 500;
    font-size: 12px;
    margin-top: -20px;
    margin-left: 30px;
    }

.imgClassCon14{

 width: 300px; 
     height: 280px;
     margin-top: 46px;
     border-radius: 5px;
   }
/*Accordion flush*/

.ptitle {
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 60px;
    margin-top: 60px;
   
}




/*footer.....*/

#cont15{
    background-color: black;
    padding: 0% 15%;
}
#logo2{
    margin-top: 20px;
    width: 100px;
    height: 30px;
    margin-bottom: 20px;
}
.phone1{
margin-bottom: 20px;
font-size: 12px;
margin-top: 30px;

}
.Number{
    font-family: Dosis;
    font-size: 15px;
    color: white;
    margin-right: 5px;
    margin-top: -3px;
}

.JK2{
    font-family: Dosis;
    color: white;
    font-size: 16px;
   
}
#ul{
    list-style: none;
margin-left: -43px;
    
}

.JK3{
    font-family: Dosis;
    color: white;
    font-size: 13px;
    padding: 5px;
    font-weight: 300;
    list-style: none;
    text-decoration: none;
}
.JK3:hover{
    color: white;
}

 #BTM{
    height: 40px;
    width: 150px;
    border-radius: 10px;
    margin-bottom: 5px;
  
}
#BTM1{
    height: 40px;
    width: 150px;
    border-radius: 10px;
 
} 
#btn{
    height: 45px;
    width: 150px;
    border-radius: 10px;
    margin-left: 280px;
    margin-bottom: 100px;
}
#apple{
    font-size: 20px;
margin-right: 100px;   
margin-top: 5px; 
}
#lin1{
font-size: 20px;
margin-top: -27px;
margin-right: 60px;  
color: rgb(122, 128, 128);
}
#IK2{
    font-family: Dosis;
    margin-left: 40px;
    margin-top: -45px;
    font-size: 9px;
    color: gainsboro;
    }
    #IK3{
        font-size: 12px;
        color: white;
        margin-left: 40px;
        font-weight: 600;
        margin-top: -20px;
    }
#btn1{
        height: 45px;
        width: 150px;
        border-radius: 10px;
        margin-left: 10px;
        margin-bottom: 100px;
    }

    #cont16{
        max-width: 100%;
        padding: 0% 15%;
        background-color: black;
    }
    .KK{
        font-family: Dosis;
        color: white;
        font-size: 12px;
        margin-top: 30px;
       
    }
    /* #KKK{
        font-family:DMsanR;
        color: white;
        font-size: 12px;
       
    } */
    .KK1{
        font-family: Dosis;
        color: white;
        font-size: 10px;
        
    }
    .ger{
        border: 1px solid white;
    }
    #GER{
        font-size: 10px;
        border-radius: 50px;
        color: white;
        width: 80px;
        background-color: #000000;
        margin-left: 5px;
  
    }

    
    #eng{
    font-size: 9px;

    }
    
    #English{
        font-size: 10px;
            background-color: rgb(105, 103, 103);
            border-radius: 50px;
            color: white;
            width: 70px;  
    }
    #endbutton{
      display: flex;
      justify-content: flex-end;
    }
    /* #k2k2{
        text-align: center;
        display: none;
    } */

    .footer-hr{
        border: 0.5px solid rgb(61, 59, 44);
    
    }
@media screen and (max-width:883px) 
{
    #KKK{
        display: none;
    }
    #k2k2{
        display: block;
    }
}
@media screen and (max-width:570px) 
{
    #Number{
        display: none;
    }
   #phone1{
    display: none;
   }
}

@media screen and (max-width:500px) 
{
    #cont2{
        padding: 0% 5%;
       }
       #cont3{
        padding: 0% 5%;
       }
       #cont15{
        padding: 0% 5%; 
       }
       #cont155{
        padding: 0% 5%;
       }
       #cont16{
        padding: 0% 5%; 
       }
    #KK{
        font-family:Dosis;
        color: white;
        font-size: 10px;
        margin-top: 30px;
    }
    #GER{
        font-size: 10px;
        border-radius: 50px;
        color: white;
        width: 80px;
        background-color: #000000;
        margin-left: 5px;
  
    }
}
@media screen and (max-width:376px) 
{
   #cont2{
    padding: 0% 5%;
   }
   #cont3{
    padding: 0% 5%;
   }
   #cont15{
    padding: 0% 5%; 
   }
   #cont155{
    padding: 0% 5%;
   }
   #cont16{
    padding: 0% 5%; 
   }
   #KK{
    font-size: 8px
   }
}
@media screen and (max-width:320px) 
{
   #cont2{
    padding: 0% 5%;
   }
   #cont3{
    padding: 0% 5%;
   }
   #cont15{
    padding: 0% 5%; 
   }
   #cont155{
    padding: 0% 5%;
   }
   #cont16{
    padding: 0% 5%; 
   }
   #KK{
    font-size: 8px
   }
}



