@font-face {
    font-family:Dosis;
    src: url(fonts/Dosis/Dosis-VariableFont_wght.ttf);
}


     /* Container 1 NAVBAR */

#nav{
    padding: 0.8% 7%;
}
#logo{
    width: 100px;
    height: 30px;
    margin-left: 0px;
}
.navbar-dark .navbar-nav .nav-link {
    /* color: rgba(255,255,255,.5); */
    color: white !important;
}

 .bar{ 
    color: white;
    font-family:Dosis;
    margin-left: 10px;
    font-size: 14px; 
}
 .bar:hover{
    background-color: rgb(150, 152, 152);
    border-radius: 50px;
} 


 .phone{ 
    font-family:Dosis;
    color: white;
    font-size: 10px;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

#login{
    font-family:Dosis;
    background-color: rgb(154, 149, 149);
    border-radius: 40px;
    font-size: 12px;
    color: white;
    margin-left: 0px;
    width: 70px;
    height: 30px;
   

    
}
#sign{
    font-family:Dosis;
    background-color: white;
    font-size: 12px;
    border-radius: 50px;
    margin-left: 10px;
    color: black;
    width: 70px;
    height: 30px;
    margin-right: 10px;
}


/*contianer page content */

.black-box {
    background-color: #000;
    color: #fff;
    padding: 20px;
}
#txt1ID
{
    font-size:xx-large
}
.class1font
{
    font-family:Dosis;
}

/*meet our team container*/

.team-container {
    margin-top: 50px;
    padding: 50px;
    text-align: center;
}
.adjustCenID
{
    display: flex;
    justify-content: center;
}
.team-title {
    font-size: 28px;
    margin-bottom: 40px;
}

.member-name {
    font-weight: bold;
    margin-top: 10px;
}

.member-description {
    color: #777;
    margin-bottom: 20px;
}
.team-member {
    margin: -5px;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}

.team-member img {
    max-width: 100%;
    border-radius: 5%;
    transition: transform 0.3s, filter 0.3s;
    margin-bottom: 20px;
}

.team-member .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.team-member .overlay-circle {
   
    border-radius: 50%;
    padding: 20px;
}

.team-member .overlay i {
    color: black;
    font-size: 36px;
}

.team-member:hover img {
    transform: scale(1.05);
    filter: brightness(0.7); /* Darken the image */
}

.team-member:hover .overlay {
    opacity: 1;
}
/*download app con*/

#cont14{
   
    background-color: rgb(220, 197, 197);
    margin-top: 30px;
    padding-bottom: 50px;
}
.IK11{
    
    margin-top: 50px;
    font-size: 35px;
    font-weight: 600;
    color: black;
    
}
.IK111{
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 50px;
    color:black;
}
#btn14
{
    height: 50px;
    width: 150px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
    background-color: black;
}

.btn14ID{
    text-align: center;
    
}
#apple1{
    font-size: 20px;
    margin-right: 100px;   
    margin-top: 5px; 

}
#lin11{
font-size: 20px;
margin-top: -27px;
margin-right: 60px;  
color: rgb(122, 128, 128);
}
.IK21{
   
    margin-top: -40px;
    font-size: 9px;
    color: white;
    margin-left: 33px;
    }

.IK31 {
    color:white;
    font-weight: 500;
    font-size: 12px;
    margin-top: -20px;
    margin-left: 30px;
    }

.imgClassCon14{

 width: 300px; 
     height: 280px;
     margin-top: 46px;
     border-radius: 5px;
   }
/*footer.....*/

#cont15{
    background-color: black;
    padding: 0% 15%;
}
#logo2{
    margin-top: 20px;
width: 100px;
height: 30px;
margin-bottom: 20px;
}
.phone1{
margin-bottom: 20px;
font-size: 12px;
margin-top: 30px;

}
.Number{
    font-family:Dosis;
    font-size: 15px;
    color: white;
    margin-right: 5px;
    margin-top: -3px;
}

.JK2{
    font-family:Dosis;
    color: white;
    font-size: 16px;
   
}
#ul{
    list-style: none;
margin-left: -43px;
    
}

.JK3{
    font-family:Dosis;
    color: white;
    font-size: 13px;
    padding: 5px;
    font-weight: 300;
    list-style: none;
}
.JK3:hover{
    color: white;
}

 #BTM{
    height: 40px;
    width: 150px;
    border-radius: 10px;
    margin-bottom: 5px;
  
}
#BTM1{
    height: 40px;
    width: 150px;
    border-radius: 10px;
 
} 
#btn{
    height: 45px;
    width: 150px;
    border-radius: 10px;
    margin-left: 280px;
    margin-bottom: 100px;
}
#apple{
    font-size: 20px;
margin-right: 100px;   
margin-top: 5px; 
}
#lin1{
font-size: 20px;
margin-top: -27px;
margin-right: 60px;  
color: rgb(122, 128, 128);
}
#IK2{
    font-family:Dosis;
    margin-left: 40px;
    margin-top: -45px;
    font-size: 9px;
    color: gainsboro;
    }
    #IK3{
        font-size: 12px;
        color: white;
        margin-left: 40px;
        font-weight: 600;
        margin-top: -20px;
    }
#btn1{
        height: 45px;
        width: 150px;
        border-radius: 10px;
        margin-left: 10px;
        margin-bottom: 100px;
    }

    #cont16{
        max-width: 100%;
        padding: 0% 15%;
        background-color: black;
    }
    .KK{
        font-family:Dosis;
        color: white;
        font-size: 12px;
        margin-top: 30px;
       
    }
    /* #KKK{
        font-family:DMsanR;
        color: white;
        font-size: 12px;
       
    } */
    .KK1{
        font-family:Dosis;
        color: white;
        font-size: 10px;
        
    }
    .ger{
        border: 1px solid white;
    }
    #GER{
        font-size: 10px;
        border-radius: 50px;
        color: white;
        width: 80px;
        background-color: #000000;
        margin-left: 5px;
  
    }

    
    #eng{
    font-size: 9px;

    }
    
    #English{
        font-size: 10px;
            background-color: rgb(105, 103, 103);
            border-radius: 50px;
            color: white;
            width: 70px;  
    }
    #endbutton{
      display: flex;
      justify-content: flex-end;
    }
    /* #k2k2{
        text-align: center;
        display: none;
    } */

    .footer-hr{
        border: 0.5px solid rgb(61, 59, 44);
    
    }
 @media screen and (max-width:989px) {
        #cont2 , #cont3{
            padding: 0 7%;
        }
    }
    
@media screen and (max-width:883px) 
{
    #KKK{
        display: none;
    }
    #k2k2{
        display: block;
    }
}


@media screen and (max-width:500px) 
{
    #cont2{
        padding: 0% 5%;
       }
       #cont3{
        padding: 0% 5%;
       }
       #cont15{
        padding: 0% 5%; 
       }
       #cont155{
        padding: 0% 5%;
       }
       #cont16{
        padding: 0% 5%; 
       }
    #KK{
        font-family:Dosis;
        color: white;
        font-size: 10px;
        margin-top: 30px;
    }
    #GER{
        font-size: 10px;
        border-radius: 50px;
        color: white;
        width: 80px;
        background-color: #000000;
        margin-left: 5px;
  
    }
    .reservation-info{
        font-size: 13px;
    }
}
@media screen and (max-width:376px) 
{
   #cont2{
    padding: 0% 5%;
   }
   #cont3{
    padding: 0% 5%;
   }
   #cont15{
    padding: 0% 5%; 
   }
   #cont155{
    padding: 0% 5%;
   }
   #cont16{
    padding: 0% 5%; 
   }
   #KK{
    font-size: 8px
   }
}
@media screen and (max-width:320px) 
{
   #cont2{
    padding: 0% 5%;
   }
   #cont3{
    padding: 0% 5%;
   }
   #cont15{
    padding: 0% 5%; 
   }
   #cont155{
    padding: 0% 5%;
   }
   #cont16{
    padding: 0% 5%; 
   }
   #KK{
    font-size: 8px
   }
}
