@font-face {
    font-family:Dosis;
    src: url(fonts/Dosis/Dosis-VariableFont_wght.ttf);
}


/* Container 1 NAVBAR */

#nav {
    padding: 0.8% 7%;
}

#logo {
    width: 100px;
    height: 30px;
    margin-left: 0px;
}

.navbar-dark .navbar-nav .nav-link {
    /* color: rgba(255,255,255,.5); */
    color: white !important;
}

.bar {
    color: white;
    font-family:Dosis;
    margin-left: 10px;
    font-size: 14px;
}

.bar:hover {
    background-color: rgb(150, 152, 152);
    border-radius: 50px;
}


.phone {
    font-family:Dosis;
    color: white;
    font-size: 10px;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

#login {
    font-family:Dosis;
    background-color: rgb(154, 149, 149);
    border-radius: 40px;
    font-size: 12px;
    color: white;
    margin-left: 0px;
    width: 70px;
    height: 30px;



}

#sign {
    font-family:Dosis;
    background-color: white;
    font-size: 12px;
    border-radius: 50px;
    margin-left: 10px;
    color: black;
    width: 70px;
    height: 30px;
    margin-right: 10px;
}



/*contianer page content */
.black-box {
    background-color: #000;
    color: #fff;
    padding: 20px;
}

#txt1ID {
    font-size: xx-large
}
.class1font
{
    font-family:Dosis;
}

/*card container*/
.price-container {
    margin-top: 50px;
    padding: 50px;
    text-align: center;

}

.txtsave20color {
    background-color: rgb(246, 219, 219);
    border-radius: 18px;
    color: rgb(244, 38, 38);
    padding: 1px 10px;
}

.price-container2 {
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 12px;
    background-color: #f9f9f9;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 100px;
}

.price-container3 {
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 12px;
    background-color: rgb(246, 219, 219);
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 100px;
}

.adjustCenID {
    display: flex;
    justify-content: center;
}

.pricetitle {
    font-size: xx-large;
    font-weight: 500;
    margin-bottom: 10px;
}

.ptitle {
    font-size: large;
    font-weight: 500;
    margin-bottom: -10px;
}

.freeHeading {
    font-size: xx-large;
    font-weight: 400;
    margin-bottom: -10px;
}

.custom-list {
    list-style: none;
    margin-top: 50px;
    padding-left: 10px;

}

#listID1 {
    padding-bottom: 10px;
    text-indent: -1.4em;
    margin-left: 1em
}

.custom-list li:before {
    content: "\f058";
    /* Font Awesome bullet icon code */
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    margin-right: 5px;
    color: black;
    /* Customize the bullet color */

}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


.slider.round:before {
    border-radius: 50%;
}

.slider.round {
    border-radius: 34px;
}

/*footer.....*/

#cont15 {
    background-color: black;
    padding: 0% 15%;
}

#logo2 {
    margin-top: 20px;
    width: 100px;
    height: 30px;
    margin-bottom: 20px;
}

.phone1 {
    margin-bottom: 20px;
    font-size: 12px;
    margin-top: 30px;

}

.Number {
    font-family:Dosis;
    font-size: 15px;
    color: white;
    margin-right: 5px;
    margin-top: -3px;
}

.JK2 {
    font-family:Dosis;
    color: white;
    font-size: 16px;

}

#ul {
    list-style: none;
    margin-left: -43px;

}

.JK3 {
    font-family:Dosis;
    color: white;
    font-size: 13px;
    padding: 5px;
    font-weight: 300;
    list-style: none;
}

.JK3:hover {
    color: white;
}

#BTM {
    height: 40px;
    width: 150px;
    border-radius: 10px;
    margin-bottom: 5px;

}

#BTM1 {
    height: 40px;
    width: 150px;
    border-radius: 10px;

}

#btn {
    height: 45px;
    width: 150px;
    border-radius: 10px;
    margin-left: 280px;
    margin-bottom: 100px;
}

#apple {
    font-size: 20px;
    margin-right: 100px;
    margin-top: 5px;
}

#lin1 {
    font-size: 20px;
    margin-top: -27px;
    margin-right: 60px;
    color: rgb(122, 128, 128);
}

#IK2 {
    font-family:Dosis;
    margin-left: 40px;
    margin-top: -45px;
    font-size: 9px;
    color: gainsboro;
}

#IK3 {
    font-size: 12px;
    color: white;
    margin-left: 40px;
    font-weight: 600;
    margin-top: -20px;
}

#btn1 {
    height: 45px;
    width: 150px;
    border-radius: 10px;
    margin-left: 10px;
    margin-bottom: 100px;
}

#cont16 {
    max-width: 100%;
    padding: 0% 15%;
    background-color: black;
}

.KK {
    font-family:Dosis;
    color: white;
    font-size: 12px;
    margin-top: 30px;

}

/* #KKK{
        font-family:DMsanR;
        color: white;
        font-size: 12px;
       
    } */
.KK1 {
    font-family:Dosis;
    color: white;
    font-size: 10px;

}

.ger {
    border: 1px solid white;
}

#GER {
    font-size: 10px;
    border-radius: 50px;
    color: white;
    width: 80px;
    background-color: #000000;
    margin-left: 5px;

}


#eng {
    font-size: 9px;

}

#English {
    font-size: 10px;
    background-color: rgb(105, 103, 103);
    border-radius: 50px;
    color: white;
    width: 70px;
}

#endbutton {
    display: flex;
    justify-content: flex-end;
}

/* #k2k2{
        text-align: center;
        display: none;
    } */

.footer-hr {
    border: 0.5px solid rgb(61, 59, 44);

}

@media screen and (max-width:883px) {
    #KKK {
        display: none;
    }

    #k2k2 {
        display: block;
    }
}

@media screen and (max-width:570px) {
    #Number {
        display: none;
    }

    #phone1 {
        display: none;
    }
}

@media screen and (max-width:500px) {
    #cont2 {
        padding: 0% 5%;
    }

    #cont3 {
        padding: 0% 5%;
    }

    #cont15 {
        padding: 0% 5%;
    }

    #cont155 {
        padding: 0% 5%;
    }

    #cont16 {
        padding: 0% 5%;
    }

    #KK {
        font-family:Dosis;
        color: white;
        font-size: 10px;
        margin-top: 30px;
    }

    #GER {
        font-size: 10px;
        border-radius: 50px;
        color: white;
        width: 80px;
        background-color: #000000;
        margin-left: 5px;

    }
}

@media screen and (max-width:376px) {
    #cont2 {
        padding: 0% 5%;
    }

    #cont3 {
        padding: 0% 5%;
    }

    #cont15 {
        padding: 0% 5%;
    }

    #cont155 {
        padding: 0% 5%;
    }

    #cont16 {
        padding: 0% 5%;
    }

    #KK {
        font-size: 8px
    }
}

@media screen and (max-width:320px) {
    #cont2 {
        padding: 0% 5%;
    }

    #cont3 {
        padding: 0% 5%;
    }

    #cont15 {
        padding: 0% 5%;
    }

    #cont155 {
        padding: 0% 5%;
    }

    #cont16 {
        padding: 0% 5%;
    }

    #KK {
        font-size: 8px
    }
}