@font-face {
    font-family:Dosis;
    src: url(fonts/Dosis/Dosis-VariableFont_wght.ttf);
}


/* Container 1 NAVBAR */

#nav {
    padding: 0.8% 7%;
}

#logo {
    width: 100px;
    height: 30px;
    margin-left: 0px;
}

.navbar-dark .navbar-nav .nav-link {
    /* color: rgba(255,255,255,.5); */
    color: white !important;
}

.bar {
    color: white;
    font-family: Dosis;
    margin-left: 10px;
    font-size: 14px;
}

.bar:hover {
    background-color: rgb(150, 152, 152);
    border-radius: 50px;
}


.phone {
    font-family: Dosis;
    color: white;
    font-size: 10px;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

#login {
    font-family: Dosis;
    background-color: rgb(154, 149, 149);
    border-radius: 40px;
    font-size: 12px;
    color: white;
    margin-left: 0px;
    width: 70px;
    height: 30px;



}

#sign {
    font-family: Dosis;
    background-color: white;
    font-size: 12px;
    border-radius: 50px;
    margin-left: 10px;
    color: black;
    width: 70px;
    height: 30px;
    margin-right: 10px;
}

/* CONTAINER 2 */

#cont2 {
    max-width: 100%;
    padding: 0% 15%;
}
#ikons{
    margin-top: 30px;
    font-size: 25px;
}
.AK{
    font-family: Dosis;
    font-size: 15px;
    font-weight: 600;
    margin-top: 35px;
}

.AK1{
    font-family: Dosis;
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
}
#AK2{
    font-family: Dosis;
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px; 
}


#lien{

    color: rgb(0, 0, 0);
    border: 1.5px solid;
}

/* VEHICLE */
#cont3{
    max-width: 100%;
    padding: 0% 15%;
}
.BK{
    font-family: Dosis;
    font-size: 20px;
    font-weight: 600;
    margin-top: 50px;
}
#curd{
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 3% 5%;
}
#curd:hover{
    background-color: rgb(236, 255, 249);
}
.BK1{
    width:  100%;
    height: 70%;
    margin-bottom: 20px;

}
.BK2{
    font-size: 15px;
    color: black;

    
}
.BK3{
    font-family: Dosis;
    font-size: 14px;
}
#BK4{
    font-family: Dosis;
    font-size: 12px;
    margin-left: 18px;
}
#BK5{
    font-size: 12px;
    color: black;
}

.anchr{
    font-family: Dosis;
    font-weight: 600;
    font-size: 16px;
    color: black;
}
.BK6{
    font-family: Dosis;
    font-size: 15px;
    font-weight: 600;
    margin-top: 40px;
}
.BK7{
    font-family: Dosis;
    font-size: 14px;
    margin-bottom: 15px;
    
}
#BK8{
    font-size: 12px;
    color: black;
    margin-bottom: 10px;
}
#BK10{
    font-size: 12px;
    color: black;
    margin-bottom: 10px;
    margin-left: 5px;
}
.BK9{
    font-family: Dosis;
    font-size: 13px;
    font-weight: 600;
    margin-left: 2%;
}
.BK11{
    font-family: Dosis;
    font-size: 22px;
    font-weight: 600;
    margin-top: 10px;
}
#BK12{
    font-family: Dosis;
    font-size: 10px;
    margin-bottom: 15px;
}
#btn331{
    width: 100%;
    height: 45px;
    margin-bottom: 20px;
    border: none;
}
#btn331:hover{
    background-color: rgb(249, 66, 66);
    width: 100%;
    height: 45px;
    transition: 0.5s;
}
#BK13{
    color: white;
    font-family: Dosis;
    font-size: 13px;
    margin-right: 10px;
   
}

#BK14{
    color: white;
    font-size: 13px;  
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 90px;
    width: 100%;
}

.pagination button {
    background: none;
    border: 1px solid rgb(225, 225, 225);
    font-size: 18px;
    padding: 2px 10px;
    margin: 0;
    cursor: pointer;
    outline: none;
    width: 40px;
    height: 40px;
}

.pagination .page:not(.active),
.pagination .prev:not(:disabled),
.pagination .next:not(:disabled) {
    color: rgb(55, 54, 54);
    /* Change the color for non-active elements to gray */
}

.pagination .active {
    color: white;
    background-color: black;
}

/* MAPP */


#curd2{
    margin-top: 50px;
    border-radius: 5px;
    padding:   5% 15%;
    margin-bottom: 10px;
}
.CK{
    font-family: Dosis;
    font-size: 15px;
    font-weight:600 ;
}
.CK2{
    font-family: Dosis;
    font-size: 12px;
    color: black;
    font-weight:600 ;
}




#CK3{
    font-size: 15px;
    color: black;
    margin-bottom: 20px;
}
#CK333{
    font-size: 15px;
    color: black;
    margin-bottom: 20px;
    margin-left: px;
    margin-top: -25px;
}
.CK4{
    font-family: Dosis;
    font-size: 12px;
    font-weight: 600;
    margin-left: 25px;

}
.CK44{
    font-family: Dosis;
    font-size: 12px;
    font-weight: 600;
    margin-left: 25px;

}
#CK6{
    font-size: 15px;
    color: black;

    margin-bottom: 50px;
    margin-top: 30px;
}

.CK5{
    font-family: Dosis;
    font-size: 12px;
    font-weight: 600;
    margin-left: 25px;
}
#CK7{
    height: 20%;
    width: 100%;
    border-radius: 5px;
}
.CK8{
    font-family: Dosis;
    font-size: 12px;
    color: rgb(154, 154, 154);
    margin-top: 5px;
   
   
    

}
.CK9{
    font-family: Dosis;
    font-size: 12px;
    color: rgb(154, 154, 154);
    margin-top: 5px;

}
.CK10{
    font-family: Dosis;
    font-size: 12px;
    color: rgb(0, 0, 0);
    font-weight: 600;


}
.CK11{
    font-family: Dosis;
    font-size: 12px;
    font-weight: 600;
    color: rgb(7, 7, 7);
}
#curd3{
    margin-left: 30px;
    border-radius: 5px;
    margin-top: 20px;

}
.CK12{
    font-size: 12px;
    color: black;
    margin-left: 20px;
    margin-top: 20px;
}
.CK13{
    font-size: 12px;
    color: black;
    /* margin-left: 20px; */
    margin-top: 20px;
}
#CK14{
    font-family: Dosis;
    font-size: 12px;
    margin-left: 50px;
    margin-top: -13px;
}




#curd2222{
    padding:   5% 15%;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 120px;
}
#LK{
    font-family: Dosis;
    font-size: 12px;
    color: rgb(154, 154, 154);
    margin-top: 20px;

}

#LK1{
    font-family: Dosis;
    font-size: 12px;
    font-weight: 600;
    color: rgb(7, 7, 7);
}
#LK2{
    font-family: Dosis;
    font-size: 12px;
    font-weight: 600;
    color: rgb(7, 7, 7);
}
#LK3{
    font-family: Dosis;
    font-size: 12px;
    font-weight: 600;
    color: rgb(7, 7, 7);
}
#LK4{
    font-family: Dosis;
    font-size: 12px;
    font-weight: 600;
    color: rgb(7, 7, 7);
    display: flex;
    justify-content: flex-end;
   
}
#LK7{
    font-family: Dosis;
    font-size: 15px;
    font-weight: 600;
    color: rgb(7, 7, 7);
}
#LK8{
    font-family: Dosis;
    font-size: 15px;
    font-weight: 600;
    color: rgb(7, 7, 7);
    display: flex;
    justify-content: flex-end;
}



/*footer.....*/

#cont15 {
    background-color: black;
    padding: 0% 15%;
}

#logo2 {
    margin-top: 20px;
    width: 100px;
    height: 30px;
    margin-bottom: 20px;
}

.phone1 {
    margin-bottom: 20px;
    font-size: 12px;
    margin-top: 30px;

}

.Number {
    font-family: Dosis;
    font-size: 15px;
    color: white;
    margin-right: 5px;
    margin-top: -3px;
}

.JK2 {
    font-family: Dosis;
    color: white;
    font-size: 16px;

}

#ul {
    list-style: none;
    margin-left: -43px;

}

.JK3 {
    font-family: Dosis;
    color: white;
    font-size: 13px;
    padding: 5px;
    font-weight: 300;
    list-style: none;
}

.JK3:hover {
    color: white;
}

#BTM {
    height: 40px;
    width: 150px;
    border-radius: 10px;
    margin-bottom: 5px;

}

#BTM1 {
    height: 40px;
    width: 150px;
    border-radius: 10px;

}

#btn {
    height: 45px;
    width: 150px;
    border-radius: 10px;
    margin-left: 280px;
    margin-bottom: 100px;
}

#apple {
    font-size: 20px;
    margin-right: 100px;
    margin-top: 5px;
}

#lin1 {
    font-size: 20px;
    margin-top: -27px;
    margin-right: 60px;
    color: rgb(122, 128, 128);
}

#IK2 {
    font-family: Dosis;
    margin-left: 40px;
    margin-top: -45px;
    font-size: 9px;
    color: gainsboro;
}

#IK3 {
    font-size: 12px;
    color: white;
    margin-left: 40px;
    font-weight: 600;
    margin-top: -20px;
}

#btn1 {
    height: 45px;
    width: 150px;
    border-radius: 10px;
    margin-left: 10px;
    margin-bottom: 100px;
}

#cont16 {
    max-width: 100%;
    padding: 0% 15%;
    background-color: black;
}

.KK {
    font-family: Dosis;
    color: white;
    font-size: 12px;
    margin-top: 30px;

}

/* #KKK{
        font-family:DMsanR;
        color: white;
        font-size: 12px;
       
    } */
.KK1 {
    font-family: Dosis;
    color: white;
    font-size: 10px;

}

.ger {
    border: 1px solid white;
}

#GER {
    font-size: 10px;
    border-radius: 50px;
    color: white;
    width: 80px;
    background-color: #000000;
    margin-left: 5px;

}


#eng {
    font-size: 9px;

}

#English {
    font-size: 10px;
    background-color: rgb(105, 103, 103);
    border-radius: 50px;
    color: white;
    width: 70px;
}

#endbutton {
    display: flex;
    justify-content: flex-end;
}

/* #k2k2{
        text-align: center;
        display: none;
    } */

.footer-hr {
    border: 0.5px solid rgb(61, 59, 44);

}
@media screen and (max-width:989px) {
    #cont2 , #cont3{
        padding: 0 7%;
    }
}

    @media screen and (max-width:1401px) 
    {
        #cont2{
            padding: 0% 12%;
           }
           #cont3{
            padding: 0% 12%;
           }
           #cont15{
            padding: 0% 12%; 
           }
           #cont155{
            padding: 0% 12%;
           }
           #cont16{
            padding: 0% 12%; 
           }
           #BK3{
            font-family: Dosis;
    
            font-size: 12px;
            margin-left: 20px;
        }
        #BK4{
            font-family: Dosis;
    
            font-size: 12px;
            margin-left: 18px;
        }
    }
    @media screen and (max-width:1309px) 
    {
        #cont2{
            padding: 0% 10%;
           }
           #cont3{
            padding: 0% 10%;
           }
           #cont15{
            padding: 0% 10%; 
           }
           #cont155{
            padding: 0% 10%;
           }
           #cont16{
            padding: 0% 10%; 
           }
           #BK3{
            font-family: Dosis;
    
            font-size: 12px;
            margin-left: 20px;
        }
        #BK4{
            font-family: Dosis;
    
            font-size: 12px;
            margin-left: 18px;
        }
    }
    @media screen and (max-width:1226px) 
    {
        #cont2{
            padding: 0% 8%;
           }
           #cont3{
            padding: 0% 8%;
           }
           #cont15{
            padding: 0% 8%; 
           }
           #cont155{
            padding: 0% 8%;
           }
           #cont16{
            padding: 0% 8%; 
           }
           #BK3{
            font-family: Dosis;
    
            font-size: 12px;
            margin-left: 20px;
        }
        #BK4{
            font-family: Dosis;
    
            font-size: 12px;
            margin-left: 18px;
        }
    }
    @media screen and (max-width:1168px) 
    {
        #cont2{
            padding: 0% 6%;
           }
           #cont3{
            padding: 0% 6%;
           }
           #cont15{
            padding: 0% 6%; 
           }
           #cont155{
            padding: 0% 6%;
           }
           #cont16{
            padding: 0% 6%; 
           }
           #BK3{
            font-family: Dosis;
    
            font-size: 10px;
            margin-left: 20px;
        }
        #BK4{
            font-family: Dosis;
    
            font-size: 10px;
            margin-left: 18px;
        }
    }
    @media screen and (max-width:1024px) {
        #curd {
            padding: 8% 2%;
        }
        .BK3 {
            font-size: 13px;
        }
        #curd2 {
            padding: 5% 10%;

        }
        
    }
    @media screen and (max-width:987px) 
    {
        #cont2{
            padding: 0% 4%;
           }
           #cont3{
            padding: 0% 4%;
           }
           #cont15{
            padding: 0% 4%; 
           }
           #cont155{
            padding: 0% 4%;
           }
           #cont16{
            padding: 0% 4%; 
           }
           #BK3{
            font-family: Dosis;
    
            font-size: 10px;
            margin-left: 20px;
        }
        #BK4{
            font-family: Dosis;
    
            font-size: 10px;
            margin-left: 18px;
        }
    }
    @media screen and (max-width:944px) 
    {
        #cont2{
            padding: 0% 2%;
           }
           #cont3{
            padding: 0% 2%;
           }
           #cont15{
            padding: 0% 2%; 
           }
           #cont155{
            padding: 0% 2%;
           }
           #cont16{
            padding: 0% 2%; 
           }
           #BK3{
            font-family: Dosis;
    
            font-size: 10px;
            margin-left: 20px;
        }
        #BK4{
            font-family: Dosis;
    
            font-size: 10px;
            margin-left: 18px;
        }
    }
    @media screen and (max-width:905px) 
    {
        #cont2{
            padding: 0% 0%;
           }
           #cont3{
            padding: 0% 0%;
           }
           #cont15{
            padding: 0% 0%; 
           }
           #cont155{
            padding: 0% 0%;
           }
           #cont16{
            padding: 0% 0%; 
           }
           #BK3{
            font-family: Dosis;
    
            font-size: 10px;
            margin-left: 20px;
        }
        #BK4{
            font-family: Dosis;
    
            font-size: 10px;
            margin-left: 18px;
        }
    }
    @media screen and (max-width:877px) 
    {
        #cont2{
            padding: 0% 3%;
           }
           #cont3{
            padding: 0% 3%;
           }
           #cont15{
            padding: 0% 3%; 
           }
           #cont155{
            padding: 0% 3%;
           }
           #cont16{
            padding: 0% 3%; 
           }
           #BK3{
            font-family: Dosis;
    
            font-size: 10px;
            margin-left: 20px;
        }
        #BK4{
            font-family: Dosis;
    
            font-size: 10px;
            margin-left: 18px;
        }
    }
    @media screen and (max-width:840px) 
    {
        #cont2{
            padding: 0% 1%;
           }
           #cont3{
            padding: 0% 1%;
           }
           #cont15{
            padding: 0% 1%; 
           }
           #cont155{
            padding: 0% 1%;
           }
           #cont16{
            padding: 0% 1%; 
           }
           #BK3{
            font-family: Dosis;
    
            font-size: 10px;
            margin-left: 20px;
        }
        #BK4{
            font-family: Dosis;
    
            font-size: 10px;
            margin-left: 18px;
        }
    }
    @media screen and (max-width:769px) 
{
    #BK3{
        font-family: Dosis;

        font-size: 12px;
        margin-left: 20px;
    }
    #BK4{
        font-family: Dosis;

        font-size: 12px;
        margin-left: 18px;
    }
    .BK7 {
        font-size: 13px;
    }
    .CK12 {
        margin-left: -16px;
    }
}
@media screen and (max-width:883px) 
{
    #KKK{
        display: none;
    }
    #k2k2{
        display: block;
    }
}
@media screen and (max-width:570px) 
{
    #Number{
        display: none;
    }
   #phone1{
    display: none;
   }
}

@media screen and (max-width:500px) 
{
    #cont2{
        padding: 0% 5%;
       }
       #cont3{
        padding: 0% 5%;
       }
       #cont15{
        padding: 0% 5%; 
       }
       #cont155{
        padding: 0% 5%;
       }
       #cont16{
        padding: 0% 5%; 
       }
    #KK{
        font-family:DMsanR;
        color: white;
        font-size: 10px;
        margin-top: 30px;
    }
    #GER{
        font-size: 10px;
        border-radius: 50px;
        color: white;
        width: 80px;
        background-color: #000000;
        margin-left: 5px;
  
    }
}
@media screen and (max-width:376px) 
{
   #cont2{
    padding: 0% 5%;
   }
   #cont3{
    padding: 0% 5%;
   }
   #cont15{
    padding: 0% 5%; 
   }
   #cont155{
    padding: 0% 5%;
   }
   #cont16{
    padding: 0% 5%; 
   }
   #KK{
    font-size: 8px
   }
}
@media screen and (max-width:320px) 
{
   #cont2{
    padding: 0% 5%;
   }
   #cont3{
    padding: 0% 5%;
   }
   #cont15{
    padding: 0% 5%; 
   }
   #cont155{
    padding: 0% 5%;
   }
   #cont16{
    padding: 0% 5%; 
   }
   #KK{
    font-size: 8px
   }
}


